<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="{{ ghLink }}"><i class="fa fa-lg fa-fw fa-edit"></i><span class="hidden-xs">&nbsp;Edit on GitHub</span></a>
    <p class="hidden-xs">Help us improve this documentation by editing its sources directly on the GitHub repository.</p>
  </li>
  <li class="nav-item">
    <a class="nav-link save-bookmark" href="#save-bookmark"><i class="fa fa-lg fa-fw fa-bookmark"></i><span class="hidden-xs">&nbsp;Bookmark page</span></a>
    <p class="hidden-xs">Save frequently visited pages to your browser's storage for quick access. Bookmarks will be available through the top menu.</p>
  </li>
  <li class="nav-item">
    <a class="nav-link to-instapaper" href="#to-instapaper"><i class="fa fa-lg fa-fw fa-thumb-tack"></i><span class="hidden-xs">&nbsp;Save to Instapaper</span></a></a>
  </li>
</ul>